flask>=3.0
flask-sqlalchemy>=3.1
python-dotenv>=1.0
playwright>=1.44
openpyxl>=3.1
apscheduler>=3.10
werkzeug>=3.0
requests>=2.31
dropbox>=11.36
flask-babel>=4.0.0
psycopg2-binary>=2.9
flask-socketio>=5.3.6
